<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scaled= 1.0" />
    <title>Fly Fishing Guide</title>
    <link rel="stylesheet" href="/css/Casting.css" />
  </head>

  <body>
    <div class="banner">
      <div class="navbar">
       
        <ul>
          <li><a href="/"> Home</a></li>
          <li><a href="waterconditions"> Water conditions</a></li>
          <li><a href="castingtips"> Casting Tips</a></li>
          <li><a href="fishinmyarea"> Fish In My Area</a></li>

        </ul>
      </div>

      <main>
        <section class="picture-section">

            <div class="images" style="background-image: url('/img/flycast.jpeg');">

                <h2>Fly Casting Motion</h2>
                <br><br><br><br><br><br><br><br><br><br>

                <div class="text">
                    
                    <h3>Relaxed Grip</h2>
                    
                    <p>Hold the fly rod with a relaxed grip, putting your thumb
                    on top and fingers below. Do not squeeze the rod. Practice is key, focusing on your wrist rather than your arm movment is key. 
                    A slow motion of flicking your wrist back and forth to get a whip like motion on your line. Alt text: The image is showing
                    a casting motion of flicking it back and forth to gain power.
                    </p>
                    
                </div>

            </div>

            

        </section>

        <section class="picture-section">

            <div class="images2" style="background-image: url('/img/flycastaim.png');">

                <h2>Aiming fly line</h2>
                <br><br><br><br><br><br><br><br><br><br>

                <div class="text">
                    
                    <h3>Aiming for a target</h2>
                    
                    <p>Aiming your fly line is a little bit harder than casting it. Once you get
                        a good cast down, you want to make sure the motion of the fly line is going in a nice loop
                        like in the visual above. This will allow you to use your pole to aim properly. If the line is not
                        in a loop like the visual or is tangled up then it will go to the side of you or behind you.
                    </p>
                    
                </div>

            </div>

            
        </section>
      </main>

      <div class="content">

        <h1> Casting Tips</h1>

        

      </div>

    </div>
  </body>
</html>
