<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scaled= 1.0" />
    <title>Fly Fishing Guide</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="banner">
      <div class="navbar">
        <!-- <img src="Logo" class="Logo" /> -->
        <ul>
          <li><a href="/"> Home</a></li>
          <li><a href="waterconditions"> Water conditions</a></li>
          <li><a href="castingtips"> Casting Tips</a></li>
          <li><a href="fishinmyarea"> Fish In My Area</a></li>

        </ul>
      </div>

      <div class="content">

        <h1>Clear Water:</h1>
        <p class = "Waterinfo">
          For clear water using finer line to prevent the fish from seeing you cast is a good idea,
          using natural and realistic flys. It is easier for the fish to see your flys and line so it
          makes a big difference in how you are casting and making sure that flys presentation is on point.
        </p>

      </div>

    </div>
  </body>
</html>
