<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scaled= 1.0" />
    <title>Fly Fishing Guide</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="banner">
      <div class="navbar">
        <!-- <img src="Logo" class="Logo" /> -->
        <ul>
          <li><a href="/"> Home</a></li>
          <li><a href="waterconditions"> Water conditions</a></li>
          <li><a href="castingtips"> Casting Tips</a></li>
          <li><a href="fishinmyarea"> Fish In My Area</a></li>

        </ul>
      </div>

      <div class="contentfishfound">

        <h1>Large Mouth Bass</h1>
        <br>
        <p>Fly patterns that work really well on largemouth are clouser minnows, poppers(frogs), woolly bugger,
            Crayfish patters.
        </p>

        <h1>Small Mouth Bass</h1>
        <br>
        <p>Small mouth are very aggressive so they love a lot of commotion in the water like frog poppers, grasshoppers,
            dahlberg diver, and during cicada hatches cicada imitations are an excellent choice. 
        </p>

        <h1>Blue gill</h1>
        <br>
        <p>Same with the bass, blue gill love poppers, you will have no problem catching one with a smaller frog popper. Make sure the hook is a bit
            smaller since blue gill are small fish. They love nymphs, foam bugs and ant patterns. These fish love smaller
            little bigs the best since they have such small mouths.
        </p>
        

      </div>

    </div>
  </body>
</html>
