<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scaled= 1.0" />
    <title>Fly Fishing Guide</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="banner">
      <div class="navbar">
        <!-- <img src="Logo" class="Logo" /> -->
        <ul>
          <li><a href="/"> Home</a></li>
          <li><a href="waterconditions"> Water conditions</a></li>
          <li><a href="castingtips"> Casting Tips</a></li>
          <li><a href="fishinmyarea"> Fish In My Area</a></li>

        </ul>
      </div>

      <div class="content">

        <h1>Green Water:</h1>
        <p class = "Waterinfo">Choose flies that contrast with the water, a lot of movment is good since the water is a
          bit harder to see. Having a good choice of wooly buggers are a good choice because they 
          have some movment and can catch the eye of a fish.
        </p>

      </div>

    </div>
  </body>
</html>
