<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scaled= 1.0" />
    <title>Fly Fishing Guide</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="banner">
      <div>
        <img src="Logo" class="Logo" />
        <ul>
          <li><a href="#"> Home</a></li>
          <li><a href="#"> Water conditions</a></li>
          <li><a href="#"> Casting tips</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
