<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scaled= 1.0" />
    <title>Fly Fishing Guide</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="banner">
      <div class="navbar">
        <!-- <img src="Logo" class="Logo" /> -->
        <ul>
          <li><a href="/"> Home</a></li>
          <li><a href="waterconditions"> Water conditions</a></li>
          <li><a href="castingtips"> Casting Tips</a></li>
          <li><a href="fishinmyarea"> Fish In My Area</a></li>

        </ul>
      </div>

      <div class="content">

        <h1>Murky Water:</h1>
        <p class = "Waterinfo">Colors like brown or black would be good in this situation, and most nymphs, streamers
        , and leech patterns. Movment is key in water like this so slow reterives and fidgeting of the fly is great to 
        cause commotion so it can get the fishes attention. </p>

      </div>

    </div>
  </body>
</html>
