<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scaled= 1.0" />
    <title>Fly Fishing Guide</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="banner">
      <div class="navbar">
        <!-- <img src="Logo" class="Logo" /> -->
        <ul>
          <li><a href="/"> Home</a></li>
          <li><a href="waterconditions"> Water conditions</a></li>
          <li><a href="castingtips"> Casting Tips</a></li>
          <li><a href="fishinmyarea"> Fish In My Area</a></li>

        </ul>
      </div>

      <div class="content">

        <h1>Please Select Water color:</h1>

        <form action="/submit" method="POST">

          <label for="water-color" >Water Colors:</label>
          <select name ="water-color" id="water-color">

            <option value="clear">Clear</option>
            <option value="murky">Murky</option>
            <option value="green">Green</option>
            <option value="brown">Brown</option>
          </select>

          <input type = 'submit' value="Submit">

        </form>

      </div>

      

    </div>
  </body>
</html>
